.btn {
  margin-top: 10px;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.btn-outline-secondary {
  position: relative;
  border: none;
  background-color: #edf7fd;
  color: #439cdb;
  width: 210px;
}

.btn-outline-secondary:hover {
  background-color: #dbeff9;
}

.btn-primary {
  border: none;
  background-color: #439cda;
  color: #ffffff;
  width: 100%;
}

.btn-primary:hover {
  background-color: #4fa8df;
}

.btn:disabled {
  color: #badff3;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}
