/* =========================================
   Buttons
========================================= */

.btn {
  margin-top: 10px;
  height: 50px;
  border-radius: var(--radius-default);
  font-size: var(--font-size-base);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.btn-outline-secondary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  background-color: var(--color-brand-light);
  color: var(--color-text-secondary);
  width: 210px;
}

.btn-outline-secondary:hover {
  background-color: var(--color-brand-light-hover);
}

.btn-primary {
  background-color: var(--color-brand-primary);
  color: var(--color-white);
  border: none;
  width: 100%;
}

.btn-primary:hover {
  background-color: var(--color-brand-hover);
}

.btn:disabled {
  color: var(--color-text-disabled);
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}
