.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-bg-dropdown);
  border: 1px solid var(--color-border-default);
  border-radius: var(--radius-default);
  box-shadow: var(--shadow-default);
  z-index: 100;
  margin-top: 4px;
  max-height: 200px;
  overflow-y: auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-option {
  padding: 12px 16px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-border-divider);
  font-size: var(--font-size-base);
}

input {
  text-transform: capitalize;
}

.dropdown-option:last-child {
  border-bottom: none;
}

.dropdown-option.highlighted .location-icon,
.dropdown-option:hover .location-icon {
  color: var(--color-text-primary); /* #202125 */
}

.dropdown-option.highlighted,
.dropdown-option:hover {
  color: var(--color-text-secondary); /* #439cdb */
}

.dropdown-option.no-match {
  color: #999;
  cursor: default;
}

.location-icon {
  background-color: #ededee;
  color: var(--color-text-primary);
  border-radius: 50%;
  padding: 1%;
  margin-right: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
