.form-group {
  position: relative;
  margin-top: 20px;
  max-width: 710px;
}

.form-group input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 70px;
  font-size: 20px;
  border: 2px solid #e4e4e5;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 36px;
  padding-bottom: 10px;
  line-height: normal;
}

.form-group input:focus {
  outline: none;
  border-color: #75bfe7;
  border-width: 3px;
}

.form-group label {
  position: absolute;
  top: 12px;
  left: 20px;
  color: #c6c6c7;
  font-size: 20px;
  transition: all 0.2s ease;
  opacity: 1;
  transform: translateY(10px);
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  opacity: 1;
  font-size: 16px;
  transform: translateY(0);
  color: #75bfe7;
}
